{# Pagina estatica que avisa que no estas logueado como superuser. Utiliza base.html #}
{% extends 'base.html' %}

{% block title %}
    Crear Rifa
{% endblock %}

{% block content %}
    <nav>
        <div class="nav-wrapper black">
            <a class="brand-logo right " style="padding-right: 3%;">Rifas Villada</a>
        </div>
    </nav>

    <div class="row">

        <div class="col s1 m2 l2">
            <!-- Note that "m4 l3" was added -->
            <!-- Grey navigation panel

                    This content will be:
                3-columns-wide on large screens,
                4-columns-wide on medium screens,
                12-columns-wide on small screens  -->

        </div>

        <div class="col s10 m8 l8">
            <!-- Note that "m8 l9" was added -->
            <!-- Teal page content

                    This content will be:
                9-columns-wide on large screens,
                8-columns-wide on medium screens,
                12-columns-wide on small screens  -->

            <h1 class="center">Crear Rifa</h1>

            <div class="row">
                <form method="post">  {# Formulario añadir invitado #}
                    {% csrf_token %}  {# Etiqueta de seguridad django #}
                    <div class="row">
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" required type="text" class="validate" name="comprador">
                            <label for="icon_prefix">Comprador</label>
                        </div>
                    </div>
                    <label for="vendedor">Vendedor</label>
                    <div class="row">
                        <select id="vendedor" name="vendedor" class="browser-default">
                            {% for vendedor in vendedores %}
                                <option value="{{ vendedor.id }}">{{ vendedor.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
    
            </div>
    
            <button class="btn waves-effect waves-light" type="submit">Vender Rifa
                <i class="material-icons right">send</i>
                </form>


        <div class="col s1 m2 l2">
            <!-- Note that "m4 l3" was added -->
            <!-- Grey navigation panel

                      This content will be:
                  3-columns-wide on large screens,
                  4-columns-wide on medium screens,
                  12-columns-wide on small screens  -->

        </div>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>

{% endblock %}